@import "tailwindcss";

@theme {
  --color-brand-green: #1F3A34;
  --color-brand-cream: #F4F2EE;
  --color-brand-beige: #D8CFC6;
  --color-brand-black: #0E0E0E;
  --color-brand-gold: #C6A86B;

  --font-serif: var(--font-playfair), serif;
  --font-sans: var(--font-inter), sans-serif;
}
